# project default
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# 追加
._*
.Spotlight-V100
.Trashes
/.idea/.name
/.idea/AndroidProjectSystem.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/appInsightsSettings.xml
/.idea/codeStyles
/.idea/copilot.*.xml
/.idea/copyright
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/dictionaries
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/inspectionProfiles
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/other.xml
/.idea/runConfigurations
/.idea/sonarlint
ehthumbs.db
Thumbs.db
/gradle/libs.versions.updates.toml
